.leaflet-container .leaflet-control-mapcentercoord {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 10px;
    margin: 0 5px;
    top: 0px;
    left: 9px;
    color: #ffffff;
    font-family: 'Montserrat';
  }
  .leaflet-control-mapcentercoord-icon {
    background: url() 50% 50% no-repeat;
    margin: -18px 0 0 -18px;
    width: 36px;
    height: 36px;
    left: 50%;
    top: 50%;
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
  }
  
