.hidden {
    display: none;
}

.leaflet-control-basemapsSwitcher{
    height: auto;
    width: auto;
    display:flex;
}

.leaflet-control-basemapsSwitcher:hover{
    cursor: pointer;
}

.basemapImg{
    filter: drop-shadow(4px 3px 0px rgba(0, 0, 0, 0.39));
    background-color: rgba(0, 0, 0, 0.7);
    margin:5px;
    padding:5px;
    border-radius: 7px 7px;
}

.basemapImg div{
    background-size: 120px 110px;
    width: 120px;
    height: 120px;
    border-radius: 3px 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.basemapImg div .name{
    width:100%;
    height:auto;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0;
    color:rgb(240, 240, 240);
    display: flex;
    align-items: center;
    font-weight: 500;
    padding:0px;
    font-family: 'Montserrat';
}

.basemapImg div .check{
    width:auto;
    height:auto;
    border-radius: 0;
    display: flex;
    align-items: flex-end;
    font-weight: 500;
    padding:1px;
    content:''
}

.activeMap::before{
    color:white;
    content: '';
    width: 12px;
    height: 12px;
    background-color: #00aa1c88;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
